:root {
    --color1: #DAD7CD;
    --color2: #A3B18A;
    --color3: #588157;
    --color4: #3A5A40;
    --color5: #344E41;
  }


a.active {
    font-weight: bold;

}

body {
    background-color: var(--color5);
    color: var(--color1);
    margin: 0;
}

a {
    color: var(--color1);
    text-decoration:none;
}

nav {
    background-color: var(--color4);
    display: flex;
    align-items: baseline;
    position: sticky;
    width: 100%;
    border-bottom: var(--color3) 2px solid;
    margin-bottom: 15px;
}

h1 {
    color: var(--color2);
    padding-left: 15px;
    padding-right: 15px;
}

.below-nav {
    padding-left: 15px;
    padding-right: 15px;
}

td {
    padding-right: 25px;
}

a {
    padding: 15px;
}